:root {
  --firefly: #0f282f;
  --emerald: #014751;
  --zircon: #f9fbff;
  --green: #05d380;
  --mint: #aff9c8;
  --banana: var(--mint);
  /* --banana: #ffefb4; */
  --lilac: #d2c5fb;
  --background: #101010;
  --background-secondary: #202020;
  --text: var(--zircon);
  --border-radius: 2rem;
  --content-width: 90rem;
  --font: "Poppins", sans-serif;
  --fnt-s: 0.75rem;
  --fnt-r: 1rem;
  --fnt-r-alt: 1.25rem;
  --fnt-m: 2rem;
  --fnt-l: 2.75rem;
  --fnt-xl: 3.5rem;
  --fnt-xxl: 5rem;
  --heading-ease: cubic-bezier(0.3, 0, 0, 1);
  --subheading-ease: cubic-bezier(0.52, 0, 0, 1);
  --element-transition-ease: cubic-bezier(0.2, 0, 0, 0.98);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: var(--background);
  font-family: var(--font);
  color: var(--text);
  transition: color 1000ms, background-color 1000ms;
}

a {
  color: inherit;
  text-decoration: none;
}

.logo {
  height: 100%;
  width: 100%;
  display: block;
}
